<div class="container">
    <div style="text-align:center">
      <h1>
        Buscador de Jardines de infantes!
      </h1>
    </div>
    <br>
    <br>
    <br>
    <br>
  
    <div class="input-group input-group-lg">
      <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="Ingrese los filtros">
      <div class="input-group-append">
        <button class="btn  btn-info" (click)="buscar()" type="button">Buscar</button>
      </div>
    </div>
    <div class="col-md-2 offset-10">
        <a href="javascript:void(0)" (click)="busquedaAvanzada()">Busqueda avanzada</a>
    </div>
   
  </div>