<div class="container">
    <div class="row">
        <div class="col-2">
            <h3>Filtros</h3>
            <div class="row" *ngFor="let filtro of filtros">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" (change)="updateResultados()" [(ngModel)]="filtro.value">{{filtro.nombre}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col">
            <app-results></app-results>
        </div>
    </div>
</div>